.front-page-nav {
  @include outer-container;
  text-align: center;
  .resource-buttons {
    font-size: 14px;
    font-weight: bold;
    @include button;
  }
  .sign-in-buttons {
    font-size: 16px;
    @include sign-in-button;
  }
}

.landing-page {
  @include outer-container;
}

.div1{
  @include span-columns(6);
  margin-left: 200px;
}

