<div class="comment">
  <div class="comment-image">
    <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
  </div>
  <div class="comment-content">
    <h1><%= comment.user.username %></h1>
    <p><%= comment.body %></p>
    <p class="comment-detail">Date or details about this post</p>
  </div>
</div>
