<h2>FAQ</h2>
<p>
Questions asked on our Educational Forum will be reviewed and added to this section of our site. We have also garned questions from external sources to help provide the most detailed FAQ possible.
</p>
<div>
Thank you <%= link_to "Reddit's Opiate FAQ", src="http://www.reddit.com/r/opiates/comments/sexqg/faq_ropiates_frequently_asked_questions/", class: "pdf-link" %> for providing useful insight.
</div>
<p>
<h4>I have Vicodin/Percocet, can I snort them? Can I take a large quantity of them?</h4>
<p>
No. Vicodin and Percocet contain acetaminophen, which is harmful to your liver, and results in larger pills, making them unfeasible to snort without seriously damaging your nose.
</p>
<h4>What can I do with all of these Vicodin/Percocets then?</h4>
<p>
You can do a cold-water extraction to extract the acetaminophen:
<p></p>
<li>Finely crush up pills that you want to extract the APAP from.</li>
<li>Place powder in a half a cup of water that is in between warm and hot.</li>
<li>Stir or shake allowing the powder to dissolve into the water.</li>
<h4>Can I mix benzodiazepines with opiates?</h4>
<p>
Potentially one of the most life-threatening combinations is mixing benzos with opiates (as dangerous as mixing alcohol with benzos). Xanax, klonopin, diazepam, ativan, are all examples of benzos. Both drugs are downers, and slow the rate of your heart, as well as your respiratory system. Many opiate-related overdose deaths result from combining an opiate and another downer, whether it is a benzo, alcohol, a muscle relaxer, etc.
</p>
<p>
Never consume benzos and opiates together. If you must, consume one atleast several hours prior to the other, and always take small amounts.
</p>
