<h2>Naloxone</h2>
<p>
Naloxone, more commonly referred to as Narcan, is an opiate antidote. Nasal naloxone is available to the public in Massachusetts. It blocks the opioids and restores normal breathing when sprayed into the nose of someone who has overdosed. It is safe, easy to administer, and has no potential for abuse.
</p>
<p>
Please read about Boston's Opiod Overdose and Prevention program, which is focused on increasing public awareness of Narcan (Naloxone), an antidote for opiod overdose that is available to the public for harm prevention. If you or a loved one is suffering from opiod addiction, having a bottle of Naloxone nasal spray is a must-have. Death from overdosing is largely preventable when naloxone is used in a time-efficient manner. </p>
<p>
  Read more about Naloxone and where to obtain Naloxone here:</br>
  <%= link_to "Naloxone Info", reading_path("naloxone.pdf"), target: :blank  %>
</p>
<h2>Five Harm Reduction Tips for Heroin Users</h2>
<p>By Elizabeth Hartney, PhD</p>
<p>
<h3>1. Choose Smoking or Snorting Over Injecting Heroin</h3>
Many heroin users start out smoking heroin, then as they become addicted, switch to injecting heroin.  Although all three methods are harmful, there are greater risks associated with injection drug use.  These include contracting HIV and hepatitis (transmitted through needle sharing -- see next tip), abscesses, vein damage, and severe bacterial infections.
</p>
<p>
Snorting heroin is not quite as instant in effect as smoking or injecting, but it will still take effect very quickly with much lower risk.  While all methods of heroin use carry the risk of overdose, it is less likely with smoking because you can stop once you feel high, whereas with injecting, once the drug is in your body, you can't do anything to reduce the effects or overdose risk (see tip 3).
</p>
<h3>2. Always Use a Clean Needle to Inject Heroin</h3>
Many of the harmful effects of heroin are related to re-using or sharing needles for injection.  Make it a personal policy to never, ever use a needle that someone else has used, and conversely, to never offer a needle you have used to another person.
<p>
Clean needles are freely available through needle exchange services.  If you don't know where your nearest needle exchange is, read How to Find a Needle Exchange which includes links to listings in several different countries.
</p>
<p>
In an emergency, you can clean your needles by flushing them out with neat bleach, then flushing with water three times.  Remember, blunt needles cause vein damage.
</p>
<p>
<h3>3. Don't Use Heroin Alone</h3>
Although many people are distressed to see another person using heroin, having someone nearby can save your life.  Heroin carries a high risk of overdose, but if identified quickly, the overdose can be reversed by injection of a drug called naloxone, which blocks the opiate receptors in the brain.   If you or someone you are with may have taken a heroin overdose (the main signs being less than 12 breaths a minute, loss of consciousness, and lack of response to pain) CALL 911 IMMEDIATELY.
</p>
<p>
<h3>4. Use Low Doses Infrequently</h3>
Most of the coverage of heroin addiction emphasizes how addictive it is, and research does show that heroin users seem to fare very badly compared to users of other drugs, both in terms of how severely they become addicted, and associated problems, such as unemployment and imprisonment.  But it does seem that people who are already very troubled are attracted to heroin for self medication, and early research on heroin use shows that controlled use of heroin is possible.
</p>
<p>
The best way to prevent heroin addiction is to keep your dose low, never increase the dose, and to back off from heroin completely if you find your usual dose is not effective.  Never use heroin two days in a row, and never use more to treat heroin withdrawal symptoms.
</p>
<p>
<h3>5. Consider Treatment Options</h3>
There are many different treatment programs available, and your choices will depend on where you live and whether you can afford to pay.  If you are a heavy user of heroin, you might consider methadone as a way of getting off heroin and letting your body recover from the damage caused by injection -- although methadone is an addictive opiate, the dosages are precise, taken orally, and unlike heroin, it contains no contaminants.
</p>
<p>
Another option to consider if you have difficulty controlling your impulses is naltrexone.  This is an oral slow-acting drug which blocks the opiate receptors, so you won't get high on heroin.  Suboxone combines buprenorphine and naloxone, producing unpleasant symptoms if injected, so is a deterrent.
</p>
<p></p>
<h4>Sources</h4>
<p>
Denning, P., Little, J., and Glickman, A. Over the Influence: The Harm Reduction Guide for Managing Drugs and Alcohol. New York: Guilford. 2004.
</p>
<p>
Hser, Y., Evans, E., Huang, D., Brecht, M. and Li, L. "Comparing the dynamic course of heroin, cocaine, and methamphetamine use over 10 years." Addict Behav 33:1581-1598. 2008.
</p>
<p>
Woody, G. et al. "Extended vs Short-term Buprenorphine-Naloxone for Treatment of Opioid-Addicted Youth: A Randomized Trial," JAMA 300:2003-2011. 2008.
</p>
<p>
Zinberg, N. Drug, Set, and Setting. Yale University Press. 1984.
</p>
