<div class="hero">
  <div class="hero-inner">
     <div class="hero-copy">
       <h1>UseSafe</h1>
       <p>Quick, easy access to harm reduction resources.</p>
       <%= link_to 'About UseSafe', homes_path %>
    </div>
  </div>
</div>
