<div class="hero">
  <div class="hero-inner">
     <div class="hero-copy">
       <%= image_tag "shield.png", size: '45x45' %>
       <h1>UseSafe</h1>
       Quick, easy access to harm reduction resources.
       <p>
       <%= link_to 'About UseSafe', homes_path %>
       </p>
    </div>
  </div>
</div>
