<div class="div2">
  <h2>Join UseSafe.</h2>
  <p>
    Membership is not required to access our harm reduction database.
  </p>
  <form class="sign-up">
    <div>
      <input type="text" placeholder="Full Name">
    </div>
    <div>
      <input type="email" placeholder="Email">
    </div>
    <div>
      <input type="password" placeholder="Password">
    </div>
    <div>
      <input type="submit" placeholder="Submit">
    </div>
  </form>
</div>
