<div class="about-usesafe">
  <h1>What is UseSafe?</h1>
  <p>
  As of February 2014, there were atleast 185 suspected heroin overdose deaths in Massachusetts since November, 2013, and the overdose deathtoll has only continued to rise. Heroin and opiate addiction plagues the entire nation, but a recent surge in overdose deaths has stunned the East Coast, government officials unsure of how to fight such an elusive, formidable opponent. Opiod overdose is the leading cause of death in Massachusetts.
  </p>
  <p>
  UseSafe hopes to increase the quality of life of drug-users by encouraging safe drug practices, a concept that is known in the medical community as 'harm reduction'. We are based in Boston, MA and focus on heroin and opiate addiction, as this is the most prevalent problem in the community at the moment. We have aggregated a collection of Boston-specific resources that provide assistance to both casual users and addicts who are aware of the dangers of drug-use and hope to use drugs in a safer manner. Harm reduction resources include needle exchanges, HIV/Hep-C testing sites, counseling, and more. If you are looking for a specific type of resource, check out our Resources page or search in the navigation bar above (e.g., searching for 'needle' will provide a list of needle-exchanges).
  </p>
  <p>
  In addition to helping addicts find the real-world support they need, UseSafe also hopes to provide a wealth of information on harm reduction techniques that are accessible to all (not just members). If you become a member you will be able to participate in our Educational Forum and contribute to our Frequently Asked Questions thread.
  </p>
  <h3>Sources</h3>
  <a href="http://www.boston.com/news/local/massachusetts/2014/02/25/least-overdose-deaths-reported-mass-since-november-state-police-say/dLDohvXxlyPMWj1zgqIhOM/story.html">185 suspected heroin overdose deaths have been reported...</a>
</div>
