<div class="about-usesafe">
  <h1>What is UseSafe?</h1>
  UseSafe hopes to increase the quality of life of drug-users by encouraging safe drug practices, a concept that is known in the medical community as 'harm reduction'. We are based in Boston, MA and have aggregated a collection of Boston-specific resources that provide assistance to both casual users and addicts who are aware of the dangers of drug-use and hope to use drugs in a safer manner. Harm reduction resources include needle exchanges, HIV/Hep-C testing sites, counseling, and more. If you are looking for a specific type of resource, check out our Resources page or search in the navigation bar above (e.g., searching for 'needle' will provide a list of needle-exchanges).
  <p></p>
  In addition to helping addicts find the real-world support they need, UseSafe also hopes to provide a wealth of information on harm reduction techniquesthat are accessible to all (not just members). If you become a member you will be able to participate in our Educational Forum and contribut to our Frequently Asked Questions thread.
</div>
