html, body {
  background: $medium-grey;
  color: lighten($medium-green, 2);
  font-family: "Noto Sans";
  line-height: 150%;
  font-size: 16px;
}

h1 {
  font-size: 36px;
}

a {
  text-decoration: none;
  color: lighten($medium-green, 20);
  font-size: 20px;

  &:hover {
    cursor: pointer;
    color: $light-green;
  }
}
